<div id="login-main" class="text-center">
  <form [formGroup]="loginForm" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">ACCOUNT LOGIN</h1>
    <div class="alert-danger mb-1 custom-login-error">
      {{loginErrorMessage}}
    </div>

    <div class="mb-1">
      <label for="loginName" class="sr-only">Login name</label>
      <input
        type="text"
        formControlName="loginName"
        id="loginName"
        class="form-control"
        placeholder="Login name"
        required autofocus>
      <app-login-error [control]="loginName" [name]="'Login'"></app-login-error>
    </div>

    <div class="mb-1">
      <label for="password" class="sr-only">Password</label>
      <input
        type="password"
        formControlName="password"
        id="password"
        class="form-control"
        placeholder="Password"
        required>
      <app-login-error [control]="password" [name]="'Password'"></app-login-error>
    </div>

    <div class="mt-3">
      <button
        type="button"
        (click)="loginUser();"
        id="signin"
        class="btn btn-lg btn-primary btn-block">
        SIGN IN
      </button>
    </div>
  </form>
</div>
